.resize-handle {
  position: absolute;
  right: 10px;
  top: 0;
  width: 4px;
  height: 100%;
  background: transparent;
  cursor: ew-resize;
  z-index: 100;

  &:hover,
  &.moving {
    background: rgb(56, 147, 199);
  }
}
