.resize-handle {
  position: absolute;
  right: -3px;
  top: 0;
  width: 6px;
  height: 100%;
  background: rgba(56, 147, 199, 0.2);
  cursor: ew-resize;
  z-index: 9999;
  transition: background 0.1s;

  &:hover,
  &.moving {
    background: rgb(56, 147, 199);
  }
}
