.activated {
  background-color: var(--bg-active);

  .file-tree__filename {
    color: var(--text-heading);
    font-weight: 500;
  }
}

.file-tree__tree-item {
  display: flex;
  align-items: center;

  &:hover,
  &.file-tree__tree-item--dragover {
    background-color: var(--bg-hover);
  }

  &.activated {
    background-color: var(--bg-active);

    & .file-tree__filename {
      color: var(--text-heading);
      font-weight: 500;
    }
  }
}
