.file-tree__tree-item {
  display: flex;
  align-items: center;
&:hover,
  &.file-tree__tree-item--dragover {
    background-color: rgba($color: (
        #000),
      $alpha: 0.05
    );
}
}

.file-tree__tree-item.active {
  background-color: #1e90ff;

  & * {
    color: #fff;
  }
}
