.ListItem {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: initial;
  & > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    flex: 1;
  }
  i:last-child {
    display: none !important;
    color: var(--text-disabled) !important;
  }
  &:hover {
    background: var(--bg-hover);
    i {
      display: inline-block !important;
      &:hover {
        color: var(--text-body) !important;
      }
    }
  }
  &:global.active {
    background: var(--bg-active);
    & span {
      color: var(--text-on-accent);
    }
  }
}
