.ListItem {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: initial;
  & > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    flex: 1;
  }
  i:last-child {
    display: none !important;
    color: #ddd !important;
  }
  &:hover {
    background: var(--list-item-hover-background);
    i {
      display: inline-block !important;
      &:hover {
        color: rgba($color: #000000, $alpha: 0.9) !important;
      }
    }
  }
  &:global.active {
    background: var(--list-item-active-background);
    & span {
      color: #fff;
    }
  }
}
