.TitleInput {
  display: flex;
  justify-content: flex-start;
  padding: 0 30px;
  height: 45px;
  align-items: center;
  border-bottom: 1px solid #eee;
  input {
    flex: 1;
    font-size: 18px;
    margin-left: 10px;
  }

  i {
    visibility: hidden;
  }

  &:hover {
    i {
      visibility: visible;
    }
  }
}
