@import '../styles/scrollbar.scss';
:root {
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-12: 0.75rem;
  --base-size-16: 1rem;
  --base-size-20: 1.25rem;
  --base-size-24: 1.5rem;
  --base-size-28: 1.75rem;
  --base-size-32: 2rem;
  --base-size-36: 2.25rem;
  --base-size-40: 2.5rem;
  --base-size-44: 2.75rem;
  --base-size-48: 3rem;
  --base-size-64: 4rem;
  --base-size-80: 5rem;
  --base-size-96: 6rem;
  --base-size-112: 7rem;
  --base-size-128: 8rem;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: initial;
}

body {
  zoom: 1;
  max-zoom: 5;
  min-zoom: 0.1;
}

body {
  font-family: Source Han Sans, Noto, 'Droid Sans Mono', 'monospace',
    Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    WenQuanYi Micro Hei, Arial, sans-serif;
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

.emoji {
  font-family: 'Noto Color Emoji' !important;
  vertical-align: top !important;
}

.bi {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --sidebar-width: 250px;
  --editor-width: calc(50% - var(--sidebar-width) / 2);
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-toolbar--opened {
  display: none !important;
}

.ce-block__content {
  max-width: 100% !important;
}

blockquote {
  white-space: pre-wrap;
}

.container {
  padding: 10px;
  position: relative;
}

#app {
  padding-bottom: 100vh;
}

@media only screen and (min-width: 1200px) {
  #app {
    display: flex;
    justify-content: center;
  }
  .container {
    flex: 1;
    max-width: 1200px;
  }
}
