.Sidebar {
  background: #f2ecde;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchHeader {
  padding: 6px 14px;
  font-size: 12px;
  color: #8a8886;
  font-weight: 500;
  user-select: none;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 14px;
  font-size: 13px;
  color: #a19f9d;
  user-select: none;
}
