@import './scrollbar.scss';
* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #392f41;
}

p {
  font-size: 14px;
  padding-bottom: 10px;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Source Han Sans, Noto, 'Droid Sans Mono', 'monospace',
    Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    WenQuanYi Micro Hei, Arial, sans-serif;
}

.bi {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --editor-width: 50%;
  --sidebar-width: 200px;
  --file-list-width: 230px;
}

.file-list {
  width: var(--file-list-width);
  min-width: 150px;
  position: relative;
}

.sidebar {
  width: var(--sidebar-width);
  min-width: 100px;
  position: relative;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.chrome-tabs {
  background: #e9f1f6 !important;
}

[data-tab-id$='.md'] .chrome-tab-favicon {
  // filter: invert(66%) sepia(94%) saturate(4201%) hue-rotate(159deg) brightness(92%) contrast(101%);
}

.chrome-tabs
  .chrome-tab[active]
  .chrome-tab-background
  > svg
  .chrome-tab-geometry {
  // fill: #fffbf0;
}
