/* 滚动槽 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*:hover::-webkit-scrollbar {
  visibility: visible;
}

::-webkit-scrollbar-track {
  // border-radius: 3px;
  // background: rgba(0, 0, 0, 0.06);
  // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

*:hover {
  &::-webkit-scrollbar-thumb {
    background: rgba(1, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: transparent;
}
