.share {
  display: flex;
  position: fixed;
  right: 30px;
  bottom: 30px;
  box-shadow: 0 0 10px #333;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 10;
}

.share-menu {
  display: none;
  position: absolute;
  bottom: 120%;
  right: 0;
  width: 200px;
  box-shadow: 0 0 10px #333;
  background: #fff;
  &.open {
    display: block;
  }
  li {
    list-style: none;
    cursor: pointer;
  }
  a {
    display: flex;
    align-items: center;
    img {
      margin: 5px;
      width: 20px;
      height: 20px;
    }
  }
}
