.react-tabs-container {
  background: var(--tab-bar-bg) !important;
  border-color: transparent !important;
}

.react-tabs-tab {
  color: #4a3f35 !important;
}

.react-tabs-tab-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-tabs-active {
  border-color: transparent !important;
  background-color: transparent !important;
  border-bottom: none !important;
}

.react-tabs-tab-close {
  border: 0 !important;
  background: transparent !important;
}

.react-tabs-tab-close:hover {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.06) !important;
}

.chrome-tabs {
  height: 40px;
  padding: 6px 0px 0px 0px;
}
